// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

/* Basic styles
   ------------------------------------------------------------------------- */
p, ul, ol {
    font-size: 19px;
    margin-bottom: 1.5em
}

li {
    margin-bottom: 0.5em
}

i {
    margin-right: 0.25em
}

  

/* Page elements
   ------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    margin-bottom: 2em
}

header ul.nav li {
    margin-bottom: 0
}

.fa-symfony {
    font-size: 24px;
}

.body-container {
    flex: 1;
    min-height: 600px
}

.body-container #main h1, .body-container #main h2 {
    margin-top: 0
}

footer {
    background: #ecf0f1;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em
}

footer p {
    color: #7b8a8b;
    font-size: 13px;
    margin-bottom: 0.25em
}


/* Forms
------------------------------------------------------------------------- */
.form-group ul li {
    font-size: 13px;
}

